{% extends 'base.html' %}

{% block header %}
Lichtregen
{% endblock %}

{% block content %}
<div class="clearfix">
    <div class="col col-9 chat-container">
        <section class="flex flex-column chat-panels-container px3">
            {% if chat %}
            <h2>{{chat.name}}</h2>
            {% else %}
            <h2>Erstelle deinen Lichteffekt</h2>
            {% endif %}
            <button class="btn scroll-to scroll-to-first" onclick="scrollToFirstMessage()">↑<br>Erste Nachricht</button>
            <button class="btn scroll-to scroll-to-last" onclick="scrollToLastMessage()">↓<br>Neuste Nachricht</button>
        </section>
    </div>
    <aside class="col col-3 history-container border-left">
        <div class="px2 overflow-auto history-list-container">
            <div>
                <ul class="list-reset menu">
                    {% if chat %}
                    <li><a href="{{url_for('lighteffect_deploy', lighteffect_id=chat.id)}}" class="btn my1">Fertigen Lichteffekt in Lichtregen</a></li>
                    <li><a href="{{url_for('index', new_chat=True)}}" class="btn alert my1">Starte neuen
                        Lichteffekt-Chat</a></li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <h2>Historie</h2>
                <ul class="list-reset menu history">
                    {% for theChat in chats %}
                    <li class="{% if theChat.id == chat.id %}active{% endif %}"><a href="{{url_for('lighteffect', chat_id=theChat.id)}}" class="btn my1">{{theChat.name}}{% if
                        theChat.id == chat.id %} (aktuell){% endif %}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </aside>
    <section class="col col-9 pb2 px2 edit-description-container">
        {% if chat %}
        <form action="#" method="post" name="edit-description"
              class="flex border rounded he" id="edit-description-form">
            {% else %}
            <form action="#" method="post" name="edit-description" class="flex border rounded he"
                  id="new-light-effect-form">
                {% endif %}
                <textarea class="col col-12 border-none p2" id="description-input" name="description" required autofocus
                          placeholder="Beschreibe den Lichteffekt für die Lichterkette. Beispiel:"></textarea>
                <button type="submit" class="col edit btn success border-none self-center flex flex-column p2"
                        name="edit-description"
                        value="Senden" disabled id="edit-description-btn">
                    <span>Senden</span>
                    <img src="{{ url_for('static', filename='img/led-strip.png') }}" alt="Senden" width="42px"
                         class="enabled">
                    <img class="loading hide" src="{{ url_for('static', filename='img/loading.png') }}"
                         alt="Bitte warten" width="42px">
                </button>
            </form>
    </section>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/magula.min.css') }}">
<script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
<script src="{{url_for('static', filename='js/runCode.es6')}}"
        run-code-of-conversation-endpoint="{{url_for('conversation_run', conversation_id='conversation-id-placeholder')}}"
        loading-image-file-name="{{ url_for('static', filename='img/loading.png') }}"></script>
<script src="{{url_for('static', filename='js/messageCodeHighlighting.es6')}}"
        execute-image-file-name="{{ url_for('static', filename='img/led-strip.png') }}"
        loading-image-file-name="{{ url_for('static', filename='img/loading.png') }}"></script>
<script src="{{url_for('static', filename='js/submitButtonHandling.es6')}}"></script>
<script src="{{url_for('static', filename='js/chatScrollHandling.es6')}}"></script>
<script>
    const lightEffectEndpoint = "{{url_for('api_new_lighteffect')}}"
    const conversationsOfLightEffectEndpoint = "{{url_for('api_conversations_of_light_effect', id=chat.id)}}"

    class ChatLimitReached extends Error {
        constructor(message) {
            super(message);
            this.name = "chat.limit.reached";
        }
    }
     function appendYouMessage(conversationId, message) {
        document.querySelector('.chat-panels-container button.scroll-to-first').insertAdjacentHTML('beforebegin',
            `<div class="col mr-auto my2 px2 border panel chat-panel you" data-conversation-id="${conversationId}">
    <div class="chat-text">${message}</div>
    <div class="bold caps author">Du</div>
</div>`)
    }
     function appendChatbotMessage(conversationId, message) {
         document.querySelector('.chat-panels-container button.scroll-to-first').insertAdjacentHTML('beforebegin',
            `<div class="col ml-auto my2 border panel chat-panel chatbot" data-conversation-id="${conversationId}">
    <div class="chat-text">${message}</div>
    <div class="bold caps author">Chatbot</div>
</div>`)
    }

    function removeYouMessage(conversationId) {
        document.querySelector(`.chat-panels-container .chat-panel.you[data-conversation-id="${conversationId}"]`)?.remove()
    }

    function removeChatbotMessage(conversationId) {
        document.querySelector(`.chat-panels-container .chat-panel.chatbot[data-conversation-id="${conversationId}"]`)?.remove()
    }

    let isChatting = false

    // {% if chat %}
    const descriptionOfLightEffectEndpoint = "{{url_for('api_description_of_lighteffect', id=chat.id)}}"
    function editDescriptionForm(event) {
        event.preventDefault()
        if (isChatting) return false;
        isChatting = true
        event.target.querySelectorAll('.btn').forEach(el => el.disabled = true)
        document.getElementById('description-input').disabled = true
        const description = document.getElementById('description-input').value
        fetch(descriptionOfLightEffectEndpoint, {
            headers: new Headers({'content-type': 'application/json'}),
            method: 'POST',
            body: JSON.stringify({description})
        }).then(async response => {
            if (response.ok) {
                let json = await response.json();
                const id = json.id
                const answer = json.answer
                document.getElementById('description-input').value = ''
                removeChatbotMessage(id)
                appendChatbotMessage(id, answer)
                scrollToLastMessage()
            } else if (!response.ok && (await response.json()).type === 'chat.limit.reached') {
                throw new ChatLimitReached()
            } else if (!response.ok) {
                throw new Error(`Request's response not ok: ${await response.text()}`);
            }
        }).catch(error => {
            if (error.name === 'chat.limit.reached') {
                console.error('Request errored: ', error);
                document.body.insertAdjacentHTML('beforeend',
                    `<div id="modalOverlay" class="modal-overlay">
  <div class="modal">
    <header class="flex">
        <h3 class="mb0">Fehler beim Aktualisieren</h3>
        <button id="closeModal" class="btn ml-auto">X</button>
    </header>
    <p>Die maximale Chat-Länge für den Lichteffekt ist erreicht. Es kann leider nicht weiter an diesem Lichteffekt gearbeitet werden.</p>
    <p class="flex justify-end">
        <a href="{{url_for('index', new_chat=True)}}" class="btn alert">Neuer Lichteffekt</a>
        <a href="{{url_for('lighteffect_deploy', lighteffect_id=chat.id)}}" class="btn success ml1">Fertigen Lichteffekt in Lichtregen</a>
    </p>
  </div>
</div>`)
                document.getElementById('closeModal').addEventListener('click', () => {
                    document.getElementById('modalOverlay').remove()
                })
            }
        }).finally(() => {
            event.target.querySelectorAll('.btn').forEach(el => el.disabled = false)
            document.getElementById('description-input').disabled = false
            isChatting = false
        });
        return false
    }
    document.getElementById('edit-description-form')?.addEventListener('submit', editDescriptionForm)

    fetch(conversationsOfLightEffectEndpoint)
        .then(async response => {
            if (response.ok) {
                (await response.json()).forEach(conversation => {
                    appendYouMessage(conversation.id, conversation.description)
                    appendChatbotMessage(conversation.id, conversation.answer)
                })
            }
            scrollToLastMessage()
        })
    // {% else %}

    function newLightEffect(event) {
        event.preventDefault()
        if (isChatting) return false;
        isChatting = true
        event.target.querySelectorAll('.btn').forEach(el => el.disabled = true)
        const description = document.getElementById('description-input').value
        document.getElementById('description-input').disabled = true
        fetch(lightEffectEndpoint, {
            headers: new Headers({'content-type': 'application/json'}),
            method: 'POST',
            body: JSON.stringify({description})
        }).then(async response => {
            if (response.ok) {
                const json = await response.json()
                document.getElementById('description-input').value = ''
                window.location.href = json.href
            } else if (!response.ok) {
                throw new Error(`Request's response not ok: ${await response.text()}`);
            }
        }).catch(error => {
            console.error("Failed to create light effect: ", error)
            event.target.querySelectorAll('.btn').forEach(el => el.disabled = false)
            document.getElementById('description-input').disabled = false
            isChatting = false
        });
        return false
    }
    document.getElementById('new-light-effect-form')?.addEventListener('submit', newLightEffect)
    // {% endif %}

    document.getElementById('description-input').onkeydown = event => {
        if(event.key === "Enter") {
            event.preventDefault();
            document.getElementById('description-input').closest('form').querySelector('.btn[type=submit]').click()
        }
    }
</script>
<script type="module">
    import {io} from "{{ url_for('static', filename='js/socket.io.esm.min.js') }}";

    const socket = io()

    function listenForConversation(lightEffectId, conversationId) {
        socket.on(`/lighteffects/${lightEffectId}/conversations/${conversationId}/answer/chunk`, function (data) {
            document.querySelector(`.chat-panel.chatbot[data-conversation-id="${conversationId}"] .chat-text`).innerText += data.chunk
            scrollToLastMessage()
        });
        socket.on(`/lighteffects/${lightEffectId}/conversations/${conversationId}/deleted`, function () {
            removeYouMessage(conversationId)
            removeChatbotMessage(conversationId)
        });
    }

    function onNewConversation(lightEffectId, conversationId, description) {
        appendYouMessage(conversationId, description)
        appendChatbotMessage(conversationId, "")
        scrollToLastMessage()
        listenForConversation(lightEffectId, conversationId)
    }

    function listenForLightEffect(lightEffectId) {
        socket.on(`/lighteffects/${lightEffectId}/conversations/created`, function (data) {
            onNewConversation(lightEffectId, data.id, data.description);
        });
    }

    // {% if chat %}
   listenForLightEffect("{{chat.id}}")
    // {% else %}
    socket.on('/lighteffects/created', function (data) {
        listenForLightEffect(data.id)
        onNewConversation(data.id, data.conversationId, data.description);
    });
    // {% endif %}

</script>
{% endblock %}
<a href="https://www.flaticon.com/free-icons/led-strip" title="led-strip icons">Led-strip icons created by smalllikeart
    - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/loading" title="loading icons">Loading icons created by Freepik -
    Flaticon</a>